USE [master]
GO
/****** Object:  Database [productmanagementdb]    Script Date: 31-03-2026 19:25:57 ******/
CREATE DATABASE [productmanagementdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'productmanagementdb', FILENAME = N'C:\Users\kunda\productmanagementdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'productmanagementdb_log', FILENAME = N'C:\Users\kunda\productmanagementdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [productmanagementdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [productmanagementdb]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](100) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_cart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat_id] [int] NULL,
	[subcat_id] [int] NULL,
	[product_name] [varchar](100) NULL,
	[unit] [varchar](100) NULL,
	[hsn_code] [varchar](200) NULL,
	[product_code] [varchar](100) NULL,
	[quantity] [varchar](100) NULL,
	[txt_type] [varchar](100) NULL,
	[no_of_item] [varchar](100) NULL,
	[price] [decimal](18, 2) NULL,
	[gst_per] [decimal](18, 2) NULL,
	[gst_amount] [decimal](18, 2) NULL,
	[amount_with_gst] [decimal](18, 2) NULL,
	[sell_price] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
	[image] [varchar](200) NULL,
	[status] [int] NULL,
	[product_description] [varchar](max) NULL,
	[createdDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[mrp_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[image] [varchar](200) NULL,
	[status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_deliveryBoy]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_deliveryBoy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[mobile_no] [varchar](100) NULL,
	[email] [varchar](200) NULL,
	[dob] [datetime] NULL,
	[country] [varchar](100) NULL,
	[state] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[address] [varchar](max) NULL,
	[pin] [varchar](100) NULL,
	[identity_proof] [varchar](200) NULL,
	[image] [varchar](200) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_login]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_login](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](150) NULL,
	[identity_proof] [varchar](200) NULL,
	[name] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](100) NULL,
	[dob] [datetime] NULL,
	[gender] [varchar](50) NULL,
	[image] [varchar](200) NULL,
	[adddress] [varchar](max) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[status] [int] NULL,
	[user_id] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_order]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total_amount] [decimal](18, 2) NULL,
	[txt_amount] [decimal](18, 2) NULL,
	[orderstatus] [varchar](100) NULL,
	[paymentType] [varchar](100) NULL,
	[paymentStatus] [varchar](100) NULL,
	[DeliveryStatus] [varchar](100) NULL,
	[status] [int] NULL,
	[userid] [varchar](100) NULL,
	[createDate] [datetime] NULL,
	[updatedate] [datetime] NULL,
	[addressId] [int] NULL,
	[invoiceno] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_orderLog]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_orderLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [varchar](100) NULL,
	[product_id] [int] NULL,
	[quantity] [varchar](100) NULL,
	[product_name] [varchar](100) NULL,
	[unit] [varchar](100) NULL,
	[product_code] [varchar](100) NULL,
	[txt_type] [varchar](100) NULL,
	[no_of_item] [varchar](100) NULL,
	[price] [decimal](18, 2) NULL,
	[gst_per] [decimal](18, 2) NULL,
	[gst_amount] [decimal](18, 2) NULL,
	[sell_price] [decimal](18, 2) NULL,
	[mrp_prise] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
	[total_amount] [varchar](100) NULL,
	[status] [int] NULL,
	[createDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[userid] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_product]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat_id] [int] NULL,
	[subcat_id] [int] NULL,
	[product_name] [varchar](200) NULL,
	[unit] [varchar](100) NULL,
	[hsn_code] [varchar](200) NULL,
	[product_code] [varchar](100) NULL,
	[quantity] [varchar](100) NULL,
	[txt_type] [varchar](100) NULL,
	[no_of_item] [varchar](100) NULL,
	[price] [decimal](18, 2) NULL,
	[gst_per] [decimal](18, 2) NULL,
	[gst_amount] [decimal](18, 2) NULL,
	[amount_with_gst] [decimal](18, 2) NULL,
	[sell_price] [decimal](18, 2) NULL,
	[mrp_price] [decimal](18, 2) NULL,
	[discount] [decimal](18, 2) NULL,
	[image] [varchar](200) NULL,
	[status] [int] NULL,
	[product_description] [varchar](max) NULL,
	[createdDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[total_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_slider]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_slider](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat_id] [int] NULL,
	[slider_name] [varchar](100) NULL,
	[image] [varchar](200) NULL,
	[status] [int] NULL,
	[createDate] [datetime] NULL,
	[updatedate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_subcategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_subcategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cat_id] [int] NULL,
	[name] [varchar](200) NULL,
	[image] [varchar](200) NULL,
	[status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_unit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[unit_name] [varchar](100) NULL,
	[unit] [varchar](100) NULL,
	[status] [int] NULL,
	[createdDate] [datetime] NULL,
	[updateDate] [datetime] NULL,
	[catid] [int] NULL,
	[subcatid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](100) NULL,
	[userid] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAddress]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAddress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pincode] [varchar](100) NULL,
	[lanmark] [varchar](100) NULL,
	[country] [varchar](100) NULL,
	[state] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[address] [varchar](max) NULL,
	[bulding_no] [varchar](100) NULL,
	[status] [int] NULL,
	[createdate] [datetime] NULL,
	[updatedate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_deliveryBoy] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddCategory]
@name varchar(200),
@image varchar(200)
as
begin
insert into tbl_category(name,image,status,createdDate,updatedate) values(@name,@image,1,GETDATE(),GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteCategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteCategory]
@id int
as
begin
delete from tbl_category where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[GetCategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetCategory]
as
begin
select * from tbl_category order by id desc
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddAddress]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_AddAddress]
  @pincode varchar(100),
  @lanmark varchar(100),
  @country varchar(100),
  @state varchar(100),
  @city varchar(100),
  @address varchar(max),
  @bulding_no varchar(100)
  as
  begin
  insert into tblAddress(pincode,lanmark,country,state,city,address,bulding_no,status,createdate,updatedate)values(@pincode,@lanmark,@country,@state,@city,@address,@bulding_no,1,GETDATE(),GETDATE())
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_AddCart]
  @cat_id int,
@subcat_id int,
@product_name varchar(200),
@unit varchar(100),
@hsn_code varchar(200),
@product_code varchar(100),
@quantity varchar(100),
@txt_type varchar(100),
@no_of_item varchar(100),
@price decimal(18,2),
@gst_per decimal(18,2),
@gst_amount decimal(18,2),
@amount_with_gst decimal(18,2),
@sell_price decimal(18,2),
@mrp_price decimal(18,2),
@discount decimal(18,2),
@image varchar(200),
@product_description varchar(max)
  as
  begin
  insert into tbl_cart(cat_id,subcat_id,product_name,unit,hsn_code,product_code,quantity,txt_type,no_of_item,price,gst_per,gst_amount,amount_with_gst,
  sell_price,discount,image,status,product_description,mrp_price,createdDate,updateDate)values(@cat_id,@subcat_id,@product_name,@unit,@hsn_code,@product_code,@quantity,@txt_type,@no_of_item,@price,@gst_per,@gst_amount,@amount_with_gst,
  @sell_price,@discount,@image,1,@product_description,@mrp_price,GETDATE(),GETDATE())
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddDeliveryBoy]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[SP_AddDeliveryBoy]
  @name varchar(200),
  @mobile_no varchar(100),
  @email varchar(200),
  @dob datetime,
  @country varchar(100),
  @state varchar(100),
  @city varchar(100),
  @address varchar(max),
  @pin varchar(100),
  @identity_proof varchar(200),
  @image varchar(200)
  as
  begin
  insert into tbl_deliveryBoy(name,mobile_no,email,dob,country,state,city,address,pin,identity_proof,image,status ,createdDate,updatedDate)values(@name,@mobile_no,@email,@dob,@country,@state,@city,@address,@pin,@identity_proof,@image,1,GETDATE(),GETDATE())
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddProduct]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_AddProduct]
@cat_id int,
@subcat_id int,
@product_name varchar(200),
@unit varchar(100),
@hsn_code varchar(200),
@product_code varchar(100),
@quantity varchar(100),
@txt_type varchar(100),
@no_of_item varchar(100),
@price decimal(18,2),
@gst_per decimal(18,2),
@gst_amount decimal(18,2),
@amount_with_gst decimal(18,2),
@sell_price decimal(18,2),
@mrp_price decimal(18,2),
@discount decimal(18,2),
@image varchar(200),
@product_description varchar(max),
@total_amount decimal(18,2)

as
begin
insert into tbl_product(cat_id,subcat_id,product_name,unit,hsn_code,product_code,quantity,txt_type,no_of_item,price,gst_per,gst_amount,
amount_with_gst,sell_price,mrp_price,discount,total_amount,image,status,product_description,createdDate,updateDate) 
values(@cat_id,@subcat_id,@product_name,@unit,@hsn_code,@product_code,@quantity,@txt_type,@no_of_item,@price,@gst_per,@gst_amount,
@amount_with_gst,@sell_price,@mrp_price,@discount,@total_amount,@image,1,@product_description,GETDATE(),GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddSlider]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_AddSlider]
  @cat_id int,
  @slider_name varchar(100),
  @image varchar(200)
  as
  begin
  insert into tbl_slider(cat_id,slider_name,image,status,createDate,updatedate)values(@cat_id,@slider_name,@image,1,GETDATE(),GETDATE())
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSubCat]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddSubCat]
@cat_id int,
@name varchar(200),
@image varchar(200)
as
begin
insert into tbl_subcategory(cat_id,name,image,status,createdDate,updatedate) values(@cat_id,@name,@image,1,GETDATE(),GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddToCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[SP_AddToCart]
  @UserId varchar(100),
  @ProductId int,
  @Quantity int,
  @Image varchar(255)
  as
  begin
   IF EXISTS (SELECT 1 FROM Cart WHERE UserId = @UserId AND ProductId = @ProductId)
                UPDATE Cart SET Quantity = Quantity + @Quantity
                WHERE UserId = @UserId AND ProductId = @ProductId
            ELSE
                INSERT INTO Cart (UserId, ProductId, Quantity, Image, CreatedDate)
                VALUES (@UserId, @ProductId, @Quantity, @Image, GETDATE())
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUnit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_AddUnit]
@unit_name varchar(100),
@unit varchar(100),
@catid int, 
@subcatid int
as
begin
insert into tbl_unit(unit_name,unit,status,createdDate,updateDate,catid,subcatid)values(@unit_name,@unit,1,GETDATE(),GETDATE(),@catid,@subcatid)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUser]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_AddUser]
    @username varchar(100),
    @email varchar(100),
    @phone varchar(100),
    @userid varchar(100),
    @password varchar(100)
AS
BEGIN
    INSERT INTO tbl_user
    (
        username,
        email,
        phone,
        userid,
        [password],
        status,
        create_date,
        update_date
    )
    VALUES
    (
        @username,
        @email,
        @phone,
        @userid,
        @password,
        1,
        GETDATE(),
        GETDATE()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUsers]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_AddUsers]
@name varchar(100),
@email varchar(100),
@phone varchar(100),
@dob datetime,
@gender varchar(50),
@image varchar(200),
@password varchar(150),
@identity_proof varchar(200),
@adddress varchar(max)

as
begin
insert into tbl_login(name,email,phone,dob,gender,image,password,identity_proof,adddress,status ,create_date,update_date)values 
(@name,@email,@phone,@dob,@gender,@image,@password,@identity_proof,@adddress,1,GETDATE(),GETDATE())
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AdminLogin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_AdminLogin]
  @name varchar(100),
  @password varchar(100)
  as
  begin
  select * from tbl_admin where name=@name and password=@password
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_BindCategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_BindCategory]

as
begin
select id, name from tbl_category 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BindSubCategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BindSubCategory]
@cat_id int
as
begin
select id, name from tbl_subcategory where cat_id = @cat_id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BindUnit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BindUnit]

as
begin
select id, unit from tbl_unit
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CancleOrderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CancleOrderStatus]

as
begin
SELECT * FROM tbl_orderLog WHERE status = -1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_CartRemove]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_CartRemove]

  as
  begin
  SELECT crt.*, prod.product_name, ISNULL(prod.price,0) AS price, prod.mrp_price, prod.discount, prod.gst_amount, prod.product_description FROM cart crt LEFT JOIN tbl_product prod ON crt.ProductId = prod.id WHERE 1 = 0
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_CartRemoveItem]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CartRemoveItem]
  @userid varchar(100),
  @productid int
  as
  begin
  DELETE FROM cart WHERE UserId=@userid AND ProductId=@productid
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeAdminPassword]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ChangeAdminPassword]  
  @password varchar(100),  
  @oldpassword varchar(100),
  @id int
  as  
  begin  
  update tbl_admin set password=@password where id=@id and  password=@oldpassword  
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_CompleateOrderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CompleateOrderStatus]

as
begin
select * from tbl_orderLog where status=2
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ConfirmOrderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ConfirmOrderStatus]
as
begin
SELECT * FROM tbl_orderLog where status=1
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAddress]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteAddress]
  @id int
  as
  begin
  delete from tblAddress where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteCart]
  @id int
  as
  begin
  delete from tbl_cart where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDeliveryBoy]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteDeliveryBoy]
  @id int
  as
  begin
  delete from tbl_deliveryBoy where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePlaceORder]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DeletePlaceORder]
@id int
as
begin
delete from tbl_orderLog where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteProduct]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteProduct]
@id int
as
begin
delete from tbl_product where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteSlider]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteSlider]
  @id int
  as
  begin
  delete from tbl_slider where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSubCat]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeleteSubCat]
@id int
as
begin
delete from tbl_subcategory where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUnit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteUnit]
@id int
as
begin
delete from tbl_unit where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_DeleteUser]
@id int
as
begin
delete from tbl_login where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUserLogin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SP_DeleteUserLogin]
@id int
as
begin
delete from tbl_user where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAddress]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GetAddress]

  as
  begin
  SELECT * FROM tblAddress
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAdminProfile]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[SP_GetAdminProfile]
  @id int
  as
  begin
  SELECT * FROM tbl_admin WHERE id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[SP_GetCart]

  as
  begin
  select crt.*,cat.name as category,subcat.name as subcategory,unt.unit_name from tbl_cart as crt left join tbl_category as cat on cat.id=crt.cat_id left join tbl_subcategory as subcat on subcat.id=crt.id
left join tbl_unit as unt on unt.id=crt.unit
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCartByUserid]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_GetCartByUserid]
  @userid varchar(100)
  as
  begin
  select crt.*,prod.product_name,prod.sell_price,isnull(prod.price,0) as price,prod.mrp_price,prod.discount,prod.gst_amount,prod.product_description  from cart crt left join tbl_product prod on crt.ProductId=prod.id where crt.UserId=@userid
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCartItem]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_GetCartItem]
  @UserId varchar(100)
  as
  begin
  SELECT * FROM Cart WHERE UserId=@UserId
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCategoryById]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GetCategoryById]
@id int
as
begin
SELECT * FROM tbl_category WHERE id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDeliveryBoy]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_GetDeliveryBoy]

  as
  begin
  select * from tbl_deliveryBoy
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDeliveryBoyById]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GetDeliveryBoyById]
@id int
as
begin
select * from tbl_deliveryBoy where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProduct]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GetProduct]  
  
as  
begin  
SELECT prd.*, cat.name AS category, subcat.name AS subcategory, unt.unit_name,isnull(unt.id,0) as unitid FROM tbl_product AS prd LEFT JOIN tbl_category AS cat ON cat.id = prd.cat_id  
LEFT JOIN tbl_subcategory AS subcat ON subcat.id = prd.subcat_id LEFT JOIN tbl_unit AS unt ON unt.id = prd.unit;  
end  
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductById]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create proc [dbo].[SP_GetProductById]
  @id int
  as
  begin
  select * from tbl_product where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSlider]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_GetSlider]

  as
  begin
  select sl.*,cat.name as category from tbl_slider sl left join tbl_category cat on cat.id=sl.cat_id
  end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubCat]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetSubCat]  
as  
begin  
 SELECT   
    subcat.*,cat.name AS categoryname FROM tbl_subcategory AS subcat  LEFT JOIN tbl_category AS cat   
    ON cat.id = subcat.cat_id order by subcat.id desc;  
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSubCategoryById]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GetSubCategoryById]
@id int
as
begin
select * from tbl_subcategory where cat_id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUnit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_GetUnit]

as
begin
select u.*,c.name as categoryname, s.name as subcategoryname from tbl_unit u left join tbl_category c on u.catid=c.id 
left join tbl_subcategory s on u.subcatid=s.id order by u.id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUnitById]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUnitById]
    @id INT
AS
BEGIN
    SELECT 
        u.id,
        u.unit_name,
        u.unit,
        u.catid,
        u.subcatid
    FROM tbl_unit u
    WHERE u.id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetUnitName]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_GetUnitName]

as
begin
select * from tbl_unit
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUser]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GetUser]

as
begin
select * from tbl_login
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserlogin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GetUserlogin]

as
begin
select * from tbl_user
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IfSubCatExit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_IfSubCatExit]
  @name varchar(100),
  @cat_id int
  as
  begin
   SET NOCOUNT ON;
  SELECT COUNT(*) FROM dbo.tbl_subcategory WHERE LOWER(name) = LOWER(@name) AND cat_id = @cat_id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsCatExit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IsCatExit]
    @name VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM tbl_category WHERE name = @name)
        SELECT 1
    ELSE
        SELECT 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsProductExit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_IsProductExit]
  @product_name VARCHAR(100),
    @cat_id INT,
    @subcatid INT
  as
  begin
 SELECT COUNT(1) AS ProductCount FROM dbo.tbl_product WHERE product_name = @product_name AND cat_id = @cat_id AND subcat_id = @subcatid;
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_IsUnitExit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[SP_IsUnitExit]
  @unit_name varchar(100),
  @unit varchar(100),
  @cat_id int,
  @subcatid int
  as
  begin
   SELECT COUNT(1) AS UnitCount FROM dbo.tbl_unit WHERE unit_name = @unit_name AND unit = @unit AND catid = @cat_id AND subcatid = @subcatid;
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_OrderLogStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_OrderLogStatus]
  @status int
  
  as
  begin
  SET NOCOUNT ON;
  if(@status=0)
  select * from tbl_orderLog where status=0;

  else if(@status=1)
  select * from tbl_orderLog where status=1;

  else if(@status=-1)
  
  select * from tbl_orderLog where status=-1;
 
   else if(@status=2)
  
  select * from tbl_orderLog where status=2
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_PendingOrderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_PendingOrderStatus]
as
begin
select * from tbl_orderLog where status=0
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PlaceOrder]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc  [dbo].[SP_PlaceOrder]  
  @order_id varchar(100),  
  @product_id int,  
  @quantity varchar(100),  
  @product_name varchar(100),  
  @unit varchar(100),  
  @product_code varchar(100),  
  @txt_type varchar(100),  
  @no_of_item varchar(100),  
  @price decimal(18,2),  
  @gst_per decimal(18,2),  
  @gst_amount decimal(18,2),  
  @sell_price decimal(18,2),  
  @mrp_prise decimal(18,2),  
  @discount decimal(18,2),  
  @total_amount varchar(100),
  @userid varchar(100)
  
  as  
  begin  
  insert into tbl_orderLog(order_id,product_id,quantity,product_name,unit,product_code,txt_type,no_of_item,price,
  gst_per,gst_amount,sell_price,mrp_prise,discount,total_amount,status,createDate,updateDate,userid)values
  (@order_id,@product_id,@quantity,@product_name,@unit,@product_code,@txt_type,@no_of_item,@price,@gst_per,
  @gst_amount,@sell_price,@mrp_prise,@discount,@total_amount,0,GETDATE(),GETDATE(),@userid)  
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_ProductDetails]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ProductDetails]
@id int
as
begin
SELECT id,cat_id,subcat_id, unit, product_name, hsn_code,product_code, quantity, mrp_price, price, gst_per,gst_amount, amount_with_gst, txt_type,discount, no_of_item,sell_price, total_amount, product_description ,image FROM tbl_product WHERE id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_RemoveCart]
  @userid varchar(100)
  as
  begin
  DELETE FROM cart WHERE UserId = @userid
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAddress]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_UpdateAddress]
  @pincode varchar(100),
  @lanmark varchar(100),
  @country varchar(100),
  @state varchar(100),
  @city varchar(100),
  @address varchar(100),
  @bulding_no varchar(100),
  @id int
  as
  begin
  update tblAddress set pincode=@pincode,lanmark=@lanmark,country=@country,state=@state,city=@city,address=@address,bulding_no=@bulding_no,updatedate=GETDATE() where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAdminLogin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_UpdateAdminLogin]
  @password varchar(100)
  as
  begin
  update tbl_admin set password=@password where name='admin'
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAdminProfile]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateAdminProfile]
  @id int,
  @name varchar(100)
  as
  begin
  UPDATE tbl_admin SET name = @name WHERE id = @id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[SP_UpdateCart]
  @id int,
    @cat_id int,
@subcat_id int,
@product_name varchar(200),
@unit varchar(100),
@hsn_code varchar(200),
@product_code varchar(100),
@quantity varchar(100),
@txt_type varchar(100),
@no_of_item varchar(100),
@price decimal(18,2),
@gst_per decimal(18,2),
@gst_amount decimal(18,2),
@amount_with_gst decimal(18,2),
@sell_price decimal(18,2),
@mrp_price decimal(18,2),
@discount decimal(18,2),
@image varchar(200),
@product_description varchar(max)
  as
  begin
  update tbl_cart set cat_id=@cat_id,subcat_id=@subcat_id,product_name=@product_name,unit=@unit,hsn_code=@hsn_code,product_code=@product_code,quantity=@quantity,
  txt_type=@txt_type,no_of_item=@no_of_item,price=@price,gst_per=@gst_per,gst_amount=@gst_amount,amount_with_gst=@amount_with_gst,sell_price=@sell_price,discount=@discount,
  image=@image,product_description=@product_description,mrp_price=@mrp_price,updateDate=GETDATE() where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCatStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCatStatus]
@Id INT
AS
BEGIN
    UPDATE tbl_category SET status = CASE WHEN status = 1 THEN 0 WHEN status = 0 THEN 1 END WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDeleteCart]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SP_UpdateDeleteCart]
@id int,
@qty int
AS
BEGIN
	if(@qty=0)
	Begin
		Delete from Cart where id=@id
	End
	IF(@qty>0)
	Begin
		Update Cart SET Quantity=@qty where id=@id
	End
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDeliveryBoy]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UpdateDeliveryBoy]
  @id int,
  @name varchar(200),
  @mobile_no varchar(100),
  @email varchar(200),
  @dob datetime,
  @country varchar(100),
  @state varchar(100),
  @city varchar(100),
  @address varchar(max),
  @pin varchar(100),
  @identity_proof varchar(200)=null,
  @image varchar(200)=null
  as
  begin
  update tbl_deliveryBoy set name=@name,mobile_no=@mobile_no,email=@email,dob=@dob,country=@country,state=@state,
  city=@city,address=@address,pin=@pin,identity_proof=(case when @identity_proof is null or @identity_proof='' then identity_proof else @identity_proof end ),
  image=(case when @image is null or @image='' then image else @image end),updatedDate=GETDATE(),status=CASE WHEN status=1 then 0 when status=0 then 1 end where id=@id
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDeliveryBoyStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateDeliveryBoyStatus]
@Id int  
as  
begin   
 UPDATE tbl_deliveryBoy SET status = CASE WHEN status = 1 THEN 0 WHEN status = 0 THEN 1 END WHERE id = @Id;  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateOrderLogStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateOrderLogStatus]
@id int,
@status int

as
begin
update tbl_orderLog set status=@status where id=@id 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_updateOrderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_updateOrderStatus]
@status int,
@order_id varchar(100)
as
begin
UPDATE tbl_orderLog SET status=@status WHERE order_id=@order_id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePlaceOrder]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdatePlaceOrder]
  @order_id varchar(100),  
  @product_id int,  
  @quantity varchar(100),  
  @product_name varchar(100),  
  @unit varchar(100),  
  @product_code varchar(100),  
  @txt_type varchar(100),  
  @no_of_item varchar(100),  
  @price decimal(18,2),  
  @gst_per decimal(18,2),  
  @gst_amount decimal(18,2),  
  @sell_price decimal(18,2),  
  @mrp_prise decimal(18,2),  
  @discount decimal(18,2),  
  @total_amount varchar(100),
  @userid varchar(100),
  @id int
as
begin
update tbl_orderLog set order_id=@order_id,product_id=@product_id,quantity=@quantity,product_name=@product_name,unit=@unit,product_code=@product_code,txt_type=@txt_type,
no_of_item=@no_of_item,price=@price,gst_per=@gst_per,gst_amount=@gst_amount,sell_price=@sell_price,mrp_prise=@mrp_prise,discount=@discount,total_amount=@total_amount,userid=@userid,
updateDate=GETDATE() where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProduct]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UpdateProduct]
@id int,
@cat_id int,
@subcat_id int,
@product_name varchar(200),
@unit varchar(100),
@hsn_code varchar(200),
@product_code varchar(100),
@quantity varchar(100),
@txt_type varchar(100),
@no_of_item varchar(100),
@price decimal(18,2),
@gst_per decimal(18,2),
@gst_amount decimal(18,2),
@amount_with_gst decimal(18,2),
@sell_price decimal(18,2),
@mrp_price decimal(18,2),
@discount decimal(18,2),
@total_amount decimal(18,2),
@image varchar(200)=null,
@product_description varchar(max)=null

as
begin
update tbl_product set cat_id=@cat_id,subcat_id=@subcat_id,product_name=@product_name,unit=@unit,hsn_code=@hsn_code,product_code=@product_code,
quantity=@quantity,txt_type=@txt_type,no_of_item=@no_of_item,price=@price,gst_per=@gst_per,gst_amount=@gst_amount,amount_with_gst=@amount_with_gst,
sell_price=@sell_price,mrp_price=@mrp_price,discount=@discount,total_amount=@total_amount,image=(case when @image is null or @image='' then image else @image end),product_description=@product_description,
status=CASE WHEN status=1 then 0 when status=0 then 1 end
where id=@id

end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProfile]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateProfile]
  @username varchar(100),
  @email varchar(100),
  @phone varchar(100),
  @userid varchar(100),
  @id int
  as
  begin
  update tbl_user set username=@username,email=@email,phone=@phone,userid=@userid, create_date=Getdate() where id=@id 
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSlider]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateSlider]
 @cat_id int,
 @slider_name varchar(100),
 @image varchar(200)=null,
 @id int
AS
BEGIN UPDATE tbl_slider SET  cat_id = @cat_id, slider_name = @slider_name, image = CASE  WHEN @image IS NULL OR @image = '' THEN image  ELSE @image END, updatedate = GETDATE() WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSliderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateSliderStatus]
@Id int
as
begin 
 UPDATE tbl_slider SET status = CASE WHEN status = 1 THEN 0 WHEN status = 0 THEN 1 END WHERE id = @Id;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSubCat]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_UpdateSubCat]  
@cat_id int,  
@name varchar(200),  
@image varchar(200)=null,  
@id int  
as  
begin  
update tbl_subcategory set cat_id=@cat_id,name=@name,image=(case when @image is null or @image='' then image else @image end) where id=@id  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateSubCatStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateSubCatStatus]
@id int
as
begin
update tbl_subcategory set status= CASE WHEN status =1 then 0 when status = 0 then 1 end where Id=@id;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUnit]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_UpdateUnit]  
@unit_name varchar(100),  
@unit varchar(100), 
@catid int,
@id int ,
@subcatid int
as  
begin  
  
update tbl_unit set unit_name=@unit_name,unit=@unit,catid=@catid,subcatid=@subcatid,updateDate=GETDATE() where id=@id  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUnitStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateUnitStatus]  
@id int  
as  
begin  
update tbl_unit set status= CASE WHEN status =1 then 0 when status = 0 then 1 end where Id=@id;  
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateUser]
@name varchar(100),
@email varchar(100),
@phone varchar(100),
@dob datetime,
@gender varchar(50),
@image varchar(200),
@password varchar(150),
@identity_proof varchar(200),
@adddress varchar(max),
@id int
as
begin
update tbl_login set name=@name,email=@email,phone=@phone,dob=@dob,gender=@gender,image=(case when @image is null or @image='' then image else @image end),password=@password,identity_proof=@identity_proof,
adddress=@adddress,status=CASE WHEN status=1 then 0 when status=0 then 1 end,update_date=GETDATE() where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserLogin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_UpdateUserLogin]
@username varchar(100),
@email varchar(100),
@phone varchar(100),
@userid varchar(100),
@password varchar(100),
@id int
as
begin
update tbl_user set username=@username,email=@email,phone=@phone,userid=@userid,password=@password,update_date=GETDATE() where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UserchangePassword]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[SP_UserchangePassword]
  @password varchar(100),
  @oldpassword varchar(100),
  @id int
  as
  begin
  update tbl_user set password=@password where id=@id and password=@oldpassword
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UserLogin]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_UserLogin]
  @user varchar(100),
  @password varchar(100)
  as
  begin
  SELECT id, userid FROM tbl_user  WHERE (email=@user OR phone=@user) AND password=@password
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UserOrderStatus]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[SP_UserOrderStatus]
  @userid varchar(100)
  as
  begin
  select * from tbl_orderLog where userid=@userid 
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_UserProfile]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[SP_UserProfile]
  @userid varchar(100)
  as
  begin
  SELECT * FROM tbl_user WHERE userid = @userid
  end
GO
/****** Object:  StoredProcedure [dbo].[Sp_UserRegister]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[Sp_UserRegister]

    @username varchar(100),
    @email varchar(100),
    @phone varchar(100),
    @userid varchar(100),
    @password varchar(100)
AS
BEGIN
   INSERT INTO tbl_user (username,email,phone, userid, [password], status, create_date, update_date ) VALUES (@username, @email, @phone,@userid, @password, 1, GETDATE(),GETDATE() )
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCategory]    Script Date: 31-03-2026 19:25:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UpdateCategory]  
@id int,  
@name varchar(200),  
@image varchar(200)=null  
as  
begin  
update tbl_category set name=@name,image=(case when @image is null or @image='' then image else @image end),updatedate=GETDATE() where id=@id  
end
GO
USE [master]
GO
